{% assign content_color = section.settings.content_color %}
{% assign content_align = section.settings.align %}
{%- capture mobile_size -%}750x{% if section.settings.image.height >= 960 %}960{% else %}{{ section.settings.image.height }}{% endif %}{%- endcapture -%}
<script>
  console.log('section.settings', '{{section.settings}}');
</script>
<div class="FlexboxIeFix">
    <div class="ImageHero ImageHero--middle"
         {% if section.settings.image %}style="background: url({{ section.settings.image | img_url: '1x1' }})"{% endif %}>
        <div class="ImageHero__ImageWrapper">
            <div class="ImageHero__Image {% if section.settings.overlay_opacity > 0 %}ImageHero__ImageWrapper--hasOverlay{% endif %} Image--lazyLoad Image--zoomOut"
                 data-optimumx="1.4"
                 data-expand="-150"
                 {% if section.settings.image %}data-bgset="{{ section.settings.image | img_url: mobile_size, crop: 'center' }} 750w, {{ section.settings.image | img_url: '1000x' }} 1000w, {{ section.settings.image | img_url: '1500x' }} 1500w"{% endif %}>
            </div>

            <noscript>
                <div class="ImageHero__Image"
                     style="background-image: url({{ section.settings.image | img_url: '1000x' }})"></div>
            </noscript>

            {%- unless section.settings.image != blank -%}
                <div class="PlaceholderBackground PlaceholderBackground--Dark">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'PlaceholderBackground__Svg' }}
                </div>
            {%- endunless -%}
        </div>

        {%- if section.settings.subheading != blank or section.settings.title != blank or section.settings.content != blank -%}
            <div class="ImageHero__Content--Overlay ContainerCentered BannerContent--{{ section.id }}">
                {%- if section.settings.subheading != blank or section.settings.title != blank -%}
                    <header class="BannerHeader  BannerHeader--Content{{ content_align }} BannerHeader--{{ section.id }}">
                        {%- if section.settings.subheading != blank -%}
                            <h1 class="BannerHeader__SubHeading Heading BannerHeader__SubHeading--{{ content_color }}">{{ section.settings.subheading | escape }}</h1>
                        {%- endif -%}

                        {%- if section.settings.title != blank -%}
                            <h2 class="BannerHeader__Heading Heading BannerHeader__Heading--{{ content_color }}">{{ section.settings.title | escape }}</h2>
                        {%- endif -%}

                        {%- if section.settings.content != blank -%}
                            <div class="BannerHeader__Description BannerHeader__Description--{{ content_color }}">
                                {{ section.settings.content }}
                            </div>
                        {%- endif -%}
                        {%- if section.settings.link_title != blank -%}
                             <div class="BannerHeader__Link">
                                 <a class="Button Button--{{ content_color }}" href="{{ section.settings.link }}">{{ section.settings.link_title }}</a>
                             </div>
                         {%- endif -%}
                    </header>
                {%- endif -%}
            </div>
        {%- endif -%}
    </div>
</div>
<style>
    .ImageHero.ImageHero--middle .ImageHero__ImageWrapper .ImageHero__Image {
        background-position: center center;
    }

    @media (min-width: 1140px) {
        .ImageHero.ImageHero--middle {
            min-height: 550px;
        }
    }
    .ImageHero__Content--Overlay {
        z-index: 1;
        text-align: left;
    }
    .BannerHeader {
        padding: 40px 0;
        max-width: 580px;
    }
    .BannerHeader--ContentRight {
        padding: 40px 0;
        text-align: right;
        float: right;
        max-width: 580px;
    }
    .SectionHeader {
        margin-bottom: 25px;
    }
    .ImageHero--ContentRight{
        text-align: right;
        height: 100%;
        align-items: center;
    }
    .ImageHero--ContentLeft{
        text-align: left;
        height: 100%;
        align-items: center;
    }
    .SectionHeader.SectionHeader--MiddleIndent {
        margin-bottom: 30px;
    }
    .ImageHero__Content .ImageHero__Content--Image {
        padding: 0;
    }
    @media (min-width: 981px) {
        .ImageHero__Content {
            padding: 40px 80px 20px 80px;
        }
    }
    .ImageHero--Wrap {
        height: 100%;
    }
    .SectionHeader__Link {
        padding: 40px 0;
    }
    .BannerHeader__Description {
        margin-bottom: 30px;
    }
</style>